body{
    background-color: #005DD6;
    margin: 0%;
  }

h1 {
  color: #00FBFF;
  text-align: center;
  font-family: monospace;
}

div.list {
  margin-left: 45%;
  font-family: monospace;
}

ul.itemsList {
    list-style-type: none; 
    color: #EFDCDC;
    margin-left: -12%;
    font-size: 16px;
}

.rating {
    font-weight: bold;
}

div.r {
  text-align: center;
  color: #EFDCDC;
  font-family: monospace;
  font-size: 2rem;
}

div.m {
  text-align: center;
  color: #EFDCDC;
  font-family: monospace;
  font-size: 2rem;
}

div.sl {
  text-align: center;
  color: #EFDCDC;
  font-family: monospace;
  font-size: 2rem;
}

  /* ------------ Table CSS ------------ */
table {
    width: 50%;
    margin: 20px auto;
    background-color: #B5ECFC;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #EFDCDC;
  }
  /* --------------------------------------------- */

/* ------------ Navigation Pane CSS ------------ */
  
  nav ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: #EFDCDC;
  }
  
  nav a:hover {
    background-color: rgb(3, 43, 152);
  }
  /* --------------------------------------------- */

  img.b3{
    height: 100px;
  }

  button.s{
    background-color: #B5ECFC;
    transition-duration: 0.4s;
    margin-left: 2%;
  }

  button.s:hover {
    background-color: rgb(17,122,227);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
  }

  button.l{
    background-color: #EFDCDC;
    transition-duration: 0.4s;
    margin-left: 1%;
  }

  button.l:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  div.items {
    margin-left: 25%;
  }

  input.itemIDInput{
    height: min-content;
    width: 5%;
  }
  
  input.itemNameInput {
    height: min-content;
    width: 10%;
  }

  input.itemRatingInput {
    height: min-content;
    width: 8%;
  }

  label.itemIDLabel{
    color: #EFDCDC;
  }

  label.itemNameLabel{
    color: #EFDCDC;
    margin-left: 1%;
  }

  label.itemRatingLabel{
    margin-left: 1%;
    color: #EFDCDC;
  }